**/*.log
**/.DS_Store
*.
.vscode/*
.history
.yarn
bazel-*
bazel-bin
bazel-out
bazel-qwik
bazel-testlogs
dist
dist-dev
lib
lib-types
etc
external
node_modules
temp
tsc-out
tsdoc-metadata.json
target
output
rollup.config.js
build
.cache
.vscode
.rollup.cache
dist
tsconfig.tsbuildinfo
vite.config.ts
*.spec.tsx
*.spec.ts
.netlify
pnpm-lock.yaml
package-lock.json
yarn.lock
server
playwright-report
public/~partytown/*

tmp
graph
coverage
node_modules
/**/*.min.js
/**/*.min.css
/**/*.map
/**/*.gz
/**/*.gz.map
/**/*.gz.min.js
/**/*.gz.min.css
/**/*.gz.min.js.map
/**/*.gz.min.css.map