# Add files here to ignore them from prettier formatting

/tmp
/dist
/graph
/coverage
/node_modules
/**/gql.schema.ts
/**/*.min.js
/**/*.min.css
/**/*.map
/**/*.gz
/**/*.gz.map
/**/*.gz.min.js
/**/*.gz.min.css
/**/*.gz.min.js.map